[Desktop Entry]
Name=Potator
Comment=Watara Supervision Emulator
Terminal=false
Exec=potator.dge
Icon=potator
Categories=emulators;
Version=20200219
X-OD-Manual=readme.txt
